.form{
    margin: 0 auto;
    color: black;
    width: 50%;
    position: relative;
    top: 20%;
    animation-name: topFade;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}


.form-title{
    font-size: 2em;
    height: 1em;
    text-align: center; 
}

.form-description{
    font-size: 1.2em;
    padding-bottom: 1em;
    text-align: center; 
}


.form-details{
    display: grid;
    width: 14rem;
    margin: 0 auto; 
    justify-items: center;
}


.input-small{
    display: block;
    background-color: transparent;
    border: none;
    height: 2em;
    border-bottom: 2px solid #000000a1;
    font-size: 1em;
    color: #000000a1;
    text-align: center;
    outline: none;
}

.input-big{
    display: block;
    background-color: transparent !important;
    border: none;
    height: 4em;
    border-bottom: 2px solid #000000a1;
    font-size: 1em;
    color: #000000a1;
    justify-content: start;
    text-align: start;
    outline: none;
}

::placeholder { 
    text-align: center;
    font-size: 1.5em;
  }

  .form-controllers{
      display: flex;
      padding-top: 2%;
  }

  .form-buttons{
    height: 1em;
    margin: 2%;
}


.flip-back{

    animation-name: flip-back;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.flip-up{
    animation-name: flip-up;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hide{
    animation-name: hide;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.show{
    animation-name: show;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.back-card{
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    visibility: hidden;
    margin-bottom: 20%;
    height: 100%;
    color: gray;
    font-size: 1.5rem;
    top: 19rem;
    left: 0;
    text-align: center;
    animation-name: show;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.spinner {
    margin: 3% auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: gray;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .error{
      color: red;
      font-weight: bold;
  }

@keyframes flip-back {
    from{
        transform: rotatex(0deg);
        }
    to{
        transform: rotatex(180deg);
        display: grid;
        margin: 0 auto; 
        width: 14rem;
        justify-items: center;
        border-radius: 20px;
        background-color: #e6ddddeb;
      }
}


@keyframes flip-up {
    from{
        transform: rotatex(180deg);
        display: grid;
        margin: 0 auto; 
        width: 14rem;
        justify-items: center;
        border-radius: 20px;
        background-color: #e6ddddeb;
        }
    to{
        transform: rotatex(0deg);
      }
}

@keyframes hide {
    from{
        visibility: visible;
        }
    to{
        visibility: hidden;
      }
}


@keyframes show {
    from{
        visibility: hidden;
        }
    to{
        visibility: visible;
      }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }


@media (min-width: 320px) and (max-width: 780px) , screen and (max-height: 450px) {
    .back-card{
        top: 25rem;
        left: 4%;
    }
  }
