.main{
    overflow: hidden;
  }
  
  .home{
    position: absolute;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .fade-in{
    position: relative;
    z-index: 0; 
    display: block;
    opacity: 1;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
  }
  
  .fade-out{
    display: none; 
  }

  .slider-arrows{
    display: grid;
    position: relative;
    top: -50%;
    grid-template-columns: repeat(2, 1fr);
  }

  .left{
    grid-column-start: 1;
    position: relative;
    z-index: 9999;
    color: grey;
    font-size: 4em;
    cursor: pointer;
  }

  .right {
    grid-column-start: 2;
    display: inline-block;
    margin-left: auto;
    z-index: 9999;
    color: grey;
    font-size: 4em;
    cursor: pointer;
  }

   @keyframes fadeIn {
    from{
      opacity: 0.5;
    }
    to{
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn { 
    from{
      opacity: 0.5;
    }
    to{
      opacity: 1;
    }
  }

@-webkit-keyframes fadeIn { 
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
  }

@-o-keyframes fadeIn { 
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
  } 

