.projects{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -999;
    overflow: auto;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


.project-back{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 57%;
    width: 6em;
    color: gray;
    font-size: 1.2em;
    border: 1px solid gray;
    cursor: pointer;
    justify-self: center;
    margin-top: 12px;
}

.main-Project{
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    width: 95%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 53%;
    margin: 0 auto;
    top: 24%;
}

.project-details{
    background-color: #000000ed;
    color: white;
    
}

@media (min-width: 320px) and (max-width: 480px) {

  }