.projects{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -999;
    overflow: auto;
    overflow: hidden;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


.project-back{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 57%;
    width: 6em;
    color: gray;
    font-size: 1.2em;
    border: 1px solid gray;
    cursor: pointer;
    justify-self: center;
    margin-top: 12px;
}

.main-Project{
    position: relative;
    display: grid;
    /* grid-template-rows: 100%; */
    grid-template-columns: 0% 45.5% 0% 40%;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    top: 10em;
}
#main-image-slider{
    width : auto;
    height: 100%;
}

.project-details{
    background-color: #e6ddddeb;
    color: gray;
    text-align: center;
    overflow-y: auto;
    
}



.project-details::-webkit-scrollbar-track
{
    background-color:#fff
}

.project-details::-webkit-scrollbar
{
    background-color:#fff;
    width:16px;
    height: 2px;
}
.project-details::-webkit-scrollbar-thumb
{
    background-color:#babac0;
    border-radius:16px;
    
    border:4px solid #fff
}


.project-main-titlte{
    font-size: 1.4rem;
}

.project-sub-titlte{
    font-size: 1.2rem;
}

hr{
    box-sizing: content-box;
    height: 0px;
    background-color: gray;
    color: gray;
    border: 1px solid gray;
    overflow: visible;
}

.project-main-p{
    width: 90%;
    margin: 0 auto;
    font-size: medium;
}

.project-gallery{
    position: relative;
    display: flex;
    width: 80vw;
    height: 8em;
    align-items: center;
    top : 11em;
    margin: 0 auto;
}
.pop-up{
    position: fixed;
    z-index: 99999;
    top: 10em;
    width: 90%;
    left: 2em;
    border: 1px solid gray;
    border-radius: 10px;
    height: 71%;
    background-color: #fefeff;
    animation: popup 0.7s;
}

.close-pop-up{
    color: gray;
    position: relative;
    bottom: 100%;
    left: 92%;
    font-size: 4em;
    font-weight: bold;
}
.zoom-in{
    position: relative;
    color: gray;
    font-size: 3em;
}
.item{
    padding: 2%;
    cursor: pointer;
}


.hiedden-arrow{
    visibility: hidden;
}

.fade-in-slider{
    animation-name: fade-in-slider;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-duration: 2s;
}

.slide-right-big-menu{
    animation-name: slide-right-big-menu;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.slide-right-small-menu{
    animation-name: slide-right-small-menu;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.slide-left-big-menu{
    animation-name: slide-left-big-menu;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.slide-left-small-menu{
    animation-name: slide-left-small-menu;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.detials-toggal{
    display: grid;
    width: 1.5em;
    height: 2em;
    justify-self: end;
    align-self: center;
    background-color: #e6ddddeb;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.small-menu-right{
    font-size: 2em;
}

@keyframes fade-in-slider {
    from{
        opacity : 0;
        }
    to{
        opacity: 1;
      }
}

@keyframes slide-right-big-menu{
    from{
        transform: translateX(0%);
        opacity: 1;
       
    }
    to{
        transform: translateX(100%);
        opacity: 0;
    }
}



@keyframes slide-left-big-menu{
    from{
        transform: translateX(100%);
        opacity: 0;
       
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-right-small-menu{
    from{
        transform: translateX(0%);
       
    }
    to{
        transform: translateX(18vw);
    }
}

@keyframes slide-left-small-menu{
    from{
       
        transform: translateX(18vw);
       
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes popup {
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }

@media (min-width: 700px) and (max-width: 928px) {
    .main-Project{
        width: 100%;
        margin-left: 10%;
        grid-template-columns: 0vw 43vw 0vw 40vw;
    }

    #main-image-slider{
        width : 82vw;
    }
    .pop-up{
        left: 1em;
    }

    .project-main-titlte{
        font-size: 2rem;
    }
    
    .project-sub-titlte{
        font-size: 1.5rem;
    }

    .project-main-p{
        font-size: 1.2rem;
    }

    .project-back{
        width: 5em;
    }

    @keyframes slide-right-small-menu{
        from{
            transform: translateX(0%);
           
        }
        to{
            transform: translateX(40vw);
        }
    }
    
    @keyframes slide-left-small-menu{
        from{
           
            transform: translateX(40vw);
           
        }
        to{
            transform: translateX(0%);
        }
    }

  }


@media (min-width: 320px) and (max-width: 700px) {

    .main-Project{
        width: 100%;
        margin-left: 10%;
        grid-template-columns: 0vw 42vw 0vw 40vw;
    }

    #main-image-slider{
        width : 82vw;
    }
    .close-pop-up{
        color: gray;
        position: relative;
        bottom: 100%;
        left: 80%;
        font-size: 4em;
        font-weight: bold;
    }
    .pop-up{
        left: 1em;
    }

    .project-main-titlte{
        font-size: 1rem;
    }
    
    .project-sub-titlte{
        font-size: 0.8rem;
    }

    .project-main-p{
        font-size: small;
    }

    .project-back{
        width: 5em;
    }

    @keyframes slide-right-small-menu{
        from{
            transform: translateX(0%);
           
        }
        to{
            transform: translateX(40vw);
        }
    }
    
    @keyframes slide-left-small-menu{
        from{
           
            transform: translateX(40vw);
           
        }
        to{
            transform: translateX(0%);
        }
    }

  }