.projects{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -999;
    overflow: auto;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


.project-back{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 57%;
    width: 6em;
    color: gray;
    font-size: 1.2em;
    border: 1px solid gray;
    cursor: pointer;
    justify-self: center;
    margin-top: 12px;
}

.main-Project{
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    top: 10em;
}

.project-details{
    background-color: #000000ed;
    color: white;
    text-align: center;
    
}

.project-main-titlte{
    font-size: 2rem;
}

.project-sub-titlte{
    font-size: 1.5rem;
}

.project-main-p{
    width: 90%;
    margin: 0 auto;
    font-size: medium;
}

.project-gallery{
    position: relative;
    display: flex;
    width: 80vw;
    height: 8em;
    align-items: center;
    top : 11em;
    margin: 0 auto;
}

.item{
    padding: 2%;
    cursor: pointer;
}

.hiedden-arrow{
    visibility: hidden;
}

.fade-in-slider{
    animation-name: fade-in-slider;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-duration: 0.4s;
}

@keyframes fade-in-slider {
    from{
        opacity : 0;
        }
    to{
        opacity: 1;
      }
}

@media (min-width: 320px) and (max-width: 480px) , screen and (max-height: 450px) {
    .main-Project{
        grid-template-columns: 50% 50%;
    }

    .project-main-titlte{
        font-size: 1.7rem;
    }
    
    .project-sub-titlte{
        font-size: 1rem;
    }

    .project-main-p{
        font-size: small;
    }

  }